/* Estilo del terrario*/
h1{
    color:teal;
    text-align: center;
}

.container{
    background-color: #eee;
    width: 15%;
    height:100%;
    top: 10px;
    position: absolute;
    padding: 10px;
    border: 3px;
    border-style: dashed;
    border-color: rgb(140, 17, 202);

}

#left-container{
    left: 0px;
}

#right-container{
    right: 0px;
}
.plant-holder {
    position: relative;
    height: 13%;
    left: -10px;
    border: 3px;
    border-style: dashed;
    border-color: crimson;

}

.plant{

    position:absolute;
    max-width: 150%;
    max-height: 150%;
    z-index: 10;
}